
.footer{
    width:100%;
    color:var(--tertiary-color);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    flex-direction: column;  /* Garante que o conteúdo seja empilhado verticalmente, se necessário */
    background-color: var(--primary-color-2);
}

.footer__content{
    display: flex;
    align-content: center;

}

.footer__lista{
    padding: 3rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 5rem;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__lista-link{
    text-decoration: none;
    color: var(--tertiary-color);
    margin-top: 1rem;
    font-family: var(--fonte);
    font-weight: 700;
    font-size: 1.5rem;
}

.footer__img-lista{
    width: 15.375rem;
    height: 5.5rem;
    margin-left: -0.40rem;
}


.footer__contatos{
    padding: 3rem 3.5rem;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 0.6rem;
    margin-right: 19rem;
    margin-top: 0.5rem;
}

.footer__titulo{
    font-family: var(--fonte);
    font-weight: 700;
    font-size:2rem;
}
.footer__contato-item{
    display: flex;
    margin-top: 1.7rem;
    
}

.footer__contato-item img{
    width: 1.875rem;
    height: 1.875rem;
}

.footer__contato-item span{
    margin-left: 1rem;
    font-family: var(--fonte);
    font-weight: 700;
    font-size: 1.5rem;
}


.footer__imagem img{
    width: 18.625rem;
    height: 20em;
    margin-right: 8rem;

}

.footer__content > .footer__imagem{
    justify-self: center;
    align-self: center;
}

.footer__direitos{
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;     
    padding-left: 3.5rem;
    color: var(--tertiary-color);
}

@media (max-width: 1480px) {
    .footer__content {
        flex-direction: column;
        align-items: center;
    }

    .footer__lista, .footer__contatos {
        margin-left: 0;
        margin-right: 0;
        padding: 2rem 0;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .footer__contatos {
        background-color: var(--primary-color);
        border-radius: 20px;
        padding: 2rem;
        margin-block: 2rem;
        width: 100%;
    }

    .footer__img-lista {
        display: none;
        width: 8rem; 
        height: 3rem;
    }

    .footer__contato-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding-inline: 1rem;
    }

    .footer__contato-item img {
        width: 1.5rem;
        height: auto;
    }

    .footer__contato-item span {
        font-size: 1.2rem;
    }


    .footer__imagem {
        display: none;
        width: 100%;
        max-width: 75rem;
    }

    .footer__direitos {
        display: flex;
        padding-left: 1rem; 
        justify-content: center;
        font-size: 0.8rem;
    }
}